<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <p>Síguenos en nuestras redes sociales:</p>
        <div class="social-icons">
          <a href="https://www.facebook.com" target="_blank" class="social-icon facebook">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://www.twitter.com" target="_blank" class="social-icon twitter">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="https://www.instagram.com" target="_blank" class="social-icon instagram">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>
  